@charset "utf-8";
/* CSS Document */

@media only screen and (min-width:969px) and (max-width:1024px){
	
}

@media screen and (max-width:1023px) {
#bannertop .bannertxt{padding-top:15px;}	
#bannertop{background-size:auto;}
#bannertop .bannerpic{padding-top:80px;}
.p-20{min-height:400px;}
.testimonialbox{min-height:420px;}
.testimonialbox .testbtm{position:inherit; margin-top:40px; width:100%;}
.testimonialbox .testbtm .imgleft{width:100%; text-align:center;}
.testimonialbox .testright{width:100%; text-align:center; padding-left:0;}
#footer{background-size:100%; background-color:#239fbd; min-height:inherit; background-position:bottom bottom; padding-top:50px;}
.footercontainer{position:inherit;}
}


@media screen and (max-width: 767px) {
#footer{background-image:none; text-align:center;} 
.testimonialbox{min-height:inherit; margin-bottom:20px;}
.foot-last{margin-top:30px;}
#previewsection img{margin-bottom:20px;}
#pricingsection .pricingbox{min-height:inherit; margin-bottom:20px;}
#bannertop .bannertxt li{width:auto; margin-right:8px;}
}


@media screen and (max-width:479px){

}